/* src/css/NavigationButtons.css */
.navigation-buttons {
    display: flex;
    position: fixed;
    top: 10px;
    width: 100%;
    justify-content: space-between;
    z-index: 1000; /* Обеспечивает, что кнопки будут выше остального контента */
}

.nav-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    outline: none;
}

.nav-button img {
    width: 50px; /* Измените размер изображения по необходимости */
    height: auto;
    display: block;
    transition: opacity 0.3s ease;
}

.nav-button:hover img {
    opacity: 0.8; /* Эффект при наведении */
}

.nav-button-left {
    position: fixed;
    left: 5%;
}

.nav-button-right {
    position: fixed;
    right: 5%;
}
