.code-input-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.code-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 2px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.code-input:focus {
    border-color: #2295b4;
    box-shadow: 0 0 8px rgba(34, 149, 180, 0.3);
    outline: none;
}
.code-prompt input[type="text"] {
    max-width: 150px;
    margin: 0 auto;
}

.code-button {

    padding: 10px 20px;
    background-color: #2295b4; /* Основной цвет, как на главной странице */
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20; /* Кнопка должна быть поверх всего контента */
}