/* Добавьте это в ваш CSS файл */

.clickable-candle {
    position: absolute;
    top: 30%; /* Изменено для соответствия с расположением в Room1Detail */
    left: 56%; /* Перемещено вправо */
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 10;
}

.clickable-candle img {
    width: 80px; /* Увеличено для большей видимости */
    height: auto;
    display: block;
}

.details-overlay-1 {
    position: fixed;
    top: 50%;
    left: 70%; /* Центрирование окна */
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    height: 45%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.details-content {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    overflow-y: auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.details-overlay-1 audio.overlay-audio {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px); /* Ширина аудио-плеера */
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 30;
}

.audio-button {
    position: fixed;
    bottom: 20px; /* Расположение внизу экрана */
    left: 20px; /* Перемещено на левую сторону экрана */
    background: rgba(255, 255, 255, 0.8); /* Фон кнопки */
    border: none;
    border-radius: 50%;
    width: 60px; /* Установите ширину кнопки */
    height: 60px; /* Установите высоту кнопки */
    display: flex; /* Используем flexbox для центрирования содержимого */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавим тень для лучшего визуального восприятия */
}

.audio-button img {
    width: 30px; /* Размер иконки внутри кнопки */
    height: 30px;
}

.back-button-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #89441f;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20;
}

.back-button-1:hover {
    background-color: #652c0d; /* Темнее при наведении */
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}
