@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.blur-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pics/room1.png');
    background-position: 50% 50%;
    background-size: cover;
    filter: blur(5px);
    z-index: 1;
}

@keyframes panorama-1 {
    0% { background-position: 50% 50%; }
    30% { background-position: 0% 50%; }
    60% { background-position: 100% 50%; }
    100% { background-position: 50% 50%; }
}

.no-blur-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pics/room1.png');
    background-position: 50% 50%;
    background-size: cover;
    animation: panorama-1 30s linear infinite;
    z-index: 1;
}

.room-detail-container {
    background-image: url('../pics/room1.png');
    background-position: 50% 50%;
    background-size: cover;
}

.clickable-balal {
    position: absolute;
    top: 30%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
}

.large-text-rectangle-1 {
    position: absolute;
    bottom: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 600px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 250%;
    z-index: 20;
}

.overlay-image-1 {
    width: 105%;
    height: 105%;
    object-fit: cover;
}

.details-overlay-1 h2.overlay-header {
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    z-index: 30;
    border-radius: 10px;
}

.details-overlay-1 .details-content {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    overflow-y: auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.details-overlay-1 audio.overlay-audio {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 100px);
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 30;
}

.details-overlay-1::-webkit-scrollbar {
    width: 8px;
}

.details-overlay-1::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.back-button-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #89441f;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.back-button-1:hover {
    background-color: #89441f;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.details-overlay-1 {
    position: fixed;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px;
    height: 55%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.close-button-1 {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #89441f;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 40;
}

.close-button-1:hover {
    background-color: #89441f;
}

.sound-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.sound-image {
    width: 40px;
    height: 40px;
}


@media (max-width: 768px) {
    .blur-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../pics/room1.png');
        background-position: 50% 50%;
        background-size: cover;
        filter: blur(5px);
        z-index: 1;
    }

    .room-detail-container {
        background-image: url('../pics/room1.png');
        background-position: 50% 50%;
        background-size: cover;
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .details-overlay-1 {
        position: fixed;
        top: 75%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 95%;
        max-width: 800px;
        height: 55%;
        background: rgba(255, 255, 255, 0.6);
        backdrop-filter: blur(10px);
        padding: 20px;
        box-sizing: border-box;
        border-radius: 10px;
        overflow: hidden;
        z-index: 20;
        display: flex;
        flex-direction: column;
    }

    .details-overlay-1 h2.overlay-header {
        position: sticky;
        top: 0;
        background: rgba(255, 255, 255, 0.6);
        padding: 10px;
        z-index: 30;
        border-radius: 10px;
    }

    .details-overlay-1 .details-content {
        flex: 1;
        font-size: 16px;
        line-height: 1.6;
        text-align: justify;
        overflow-y: auto;
        padding: 10px 30px;
        box-sizing: border-box;
    }

    .details-overlay-1 audio.overlay-audio {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        width: calc(100% - 40px);
        margin: 0;
        background: rgba(255, 255, 255, 0.9);
        padding: 10px;
        border-radius: 10px;
        z-index: 30;
    }

    .details-overlay-1::-webkit-scrollbar {
        width: 8px;
    }

    .details-overlay-1::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    .close-button-1 {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 5px 10px;
        background-color: #89441f;
        border: none;
        color: white;
        border-radius: 25px;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        transition: background-color 0.3s ease;
        z-index: 50;
    }

    .close-button-1:hover {
        background-color: #89441f;
    }

    .clickable-item {
        font-size: 14px;
        padding: 8px;
    }

    .back-button, .close-button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .clickable-balal {
        position: absolute;
        top: 37%;
        left: 64%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        z-index: 10;
    }

    .overlay-image-1 {
        width: 150%;
        height: 150%;
        object-fit: cover;
    }

    .large-text-rectangle-1 {
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 30px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 80%;
        max-width: 800px;
        height: auto;
        text-align: justify;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200%;
        color: #652c0d;
    }
}
