/* Основной контейнер для комнаты */
.room-detail-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Стили для кнопки "Назад" */
.back-button-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #89441f;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20;
}

.back-button-1:hover {
    background-color: #652c0d; /* Темнее при наведении */
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Контейнер для изображения комнаты */
.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-image {
    width: 100%;
    height: auto;
}

/* Стили для большого текстового блока (названия комнаты) */
.large-text-rectangle-1 {
    position: absolute;
    top: 10%; /* Расположение выше экрана */
    right: 10%; /* Перемещено вправо от края экрана */
    transform: translate(50%, -50%); /* Центрирование по горизонтали */
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: auto; /* Ширина авто, чтобы текст помещался */
    text-align: center;
    color: #143d49;
    font-size: 200%;
    font-weight: bold;
    z-index: 10; /* Убедитесь, что текст виден поверх других элементов */
}

/* Стили для кликабельного элемента (прялка) */
.clickable-candle {
    position: absolute;
    bottom: 20%; /* Положение снизу экрана */
    left: 20%; /* Перемещено влево от края экрана */
    transform: translate(-50%, 50%); /* Центрирование по горизонтали */
    cursor: pointer;
    z-index: 10;
}

.clickable-candle img {
    width: 80px; /* Размер изображения */
    height: auto;
    display: block;
}

/* Стили для наложения деталей */
.details-overlay-1 {
    position: fixed;
    top: 50%;
    left: 50%; /* Центрирование окна */
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    height: 45%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

/* Контент в наложении деталей */
.details-content {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    overflow-y: auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

/* Стили для аудио-плеера в наложении деталей */
.details-overlay-1 audio.overlay-audio {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 40px); /* Ширина аудио-плеера */
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 30;
}

/* Стили для кнопки управления аудио */
.audio-button {
    position: fixed;
    bottom: 20px; /* Расположение внизу экрана */
    left: 20px; /* Перемещено на левую сторону экрана */
    background: rgba(255, 255, 255, 0.8); /* Фон кнопки */
    border: none;
    border-radius: 50%;
    width: 60px; /* Установите ширину кнопки */
    height: 60px; /* Установите высоту кнопки */
    display: flex; /* Используем flexbox для центрирования содержимого */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавим тень для лучшего визуального восприятия */
}

.audio-button img {
    width: 30px; /* Размер иконки внутри кнопки */
    height: 30px;
}

/* Стили для контейнера ввода кода */
.code-input-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 30;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.code-input-wrapper {
    display: flex;
    gap: 10px;
}

.code-input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Стили для кнопок в контейнере ввода кода */
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.button-small {
    font-size: 14px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

/* Стили для скрытия элементов */
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}
