@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.room-detail-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url('../pics/room1.jpeg');
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.full-image {
    width: 100%;
    height: auto;
}

.normal-back {
    filter: blur(5px);
}

.large-text-rectangle-1 {
    position: absolute;
    bottom: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 600px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
    font-size: 250%;
    z-index: 20;
}

.clickable-balal {
    position: absolute;
    top: 30%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
}

.overlay-image-1 {
    width: 105%;
    height: 105%;
    object-fit: cover;
}

.details-overlay-1 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 600px;
    height: 55%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    z-index: 20;
    display: flex;
    flex-direction: column;
}

.details-content {
    flex: 1;
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    overflow-y: auto;
    padding: 10px 30px;
    box-sizing: border-box;
}

.overlay-audio {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 100px);
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    z-index: 30;
}

.details-overlay-1::-webkit-scrollbar {
    width: 8px;
}

.details-overlay-1::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.button {
    background-color: #89441f;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    padding: 10px 20px;
    margin: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.button:hover {
    background-color: #6b2a11;
    transform: translateY(-3px);
}

.back-button-1 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
}

.close-button-1 {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 40;
}

.audio-button {
    position: fixed;
    bottom: 20px; /* Расположение внизу экрана */
    left: 20px; /* Перемещено на левую сторону экрана */
    background: rgba(255, 255, 255, 0.8); /* Фон кнопки */
    border: none;
    border-radius: 50%;
    width: 60px; /* Установите ширину кнопки */
    height: 60px; /* Установите высоту кнопки */
    display: flex; /* Используем flexbox для центрирования содержимого */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Добавим тень для лучшего визуального восприятия */
}

.audio-button img {
    width: 30px; /* Размер иконки внутри кнопки */
    height: 30px;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .details-overlay-1 {
        width: 80%;
        max-width: 800px;
    }

    .large-text-rectangle-1 {
        bottom: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px 30px;
        width: 80%;
        max-width: 800px;
        font-size: 200%;
        color: #652c0d;
    }

    .clickable-balal {
        top: 37%;
        left: 64%;
        font-size: 14px;
    }

    .details-content {
        font-size: 14px;
        padding: 10px 20px;
    }

    .overlay-audio {
        width: calc(100% - 40px);
    }
}
