/* src/components/Room1Detail.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.room-detail-container {
    position: relative;
    height: 100vh; /* Высота на весь экран */
    overflow: hidden; /* Скрыть выходящие за пределы элементы */
}

.image-container {
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(10px); /* Размытие фона */
    transition: filter 0.3s ease; /* Плавная анимация при изменении фильтра */
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Подгоняет изображение по размеру контейнера */
}

.clickable-candle {
    position: absolute;
    top: 17%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10; /* Слой выше изображения */
}

.overlay-image {
    width: 150%;
    height: 150%;
    object-fit: cover;
}

/* Кнопка "Назад" */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #2295b4; /* Основной цвет, как на главной странице */
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20; /* Кнопка должна быть поверх всего контента */
}

.back-button:hover {
    background-color: #196c83;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Окно с деталями */
.details-overlay {
    position: absolute;
    top: 20%;
    right: 10%; /* Смещаем окно вправо, не доходя до краев */
    width: 40%;
    max-width: 400px;
    height: 60%;
    background: rgba(255, 255, 255, 0.9); /* Белый фон с прозрачностью */
    backdrop-filter: blur(10px); /* Размытие фона за элементом */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
    z-index: 30;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #2294b3;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 40; /* Кнопка должна быть поверх всего контента */
}

.close-button:hover {
    background-color: #2294b3;
}

/* Настройки для мобильной версии */
@media (max-width: 768px) {
    .details-overlay {
        top: auto; /* Убираем фиксированное позиционирование */
        bottom: 0; /* Размещаем окно внизу экрана */
        right: 0;
        left: 0;
        width: 100%;
        height: auto;
        max-height: 50%;
        border-radius: 0;
    }

    .clickable-item {
        font-size: 14px;
        padding: 8px;
    }

    .back-button, .close-button {
        font-size: 14px;
        padding: 8px 16px;
    }
}
