/* src/components/Room1Detail.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.blur-filter-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pics/room3.png');
    background-position: 50% 50%;
    background-size: cover;
    filter: blur(5px); /* Размытие фона */
    z-index: 1; /* Установите z-index ниже з-индекса остальных элементов */
}

@keyframes panorama {
    0% { background-position: 5% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 5% 50%; }
}

.no-blur-filter-3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pics/room3.png');
    background-position: 5% 50%;
    background-size: cover;
    animation: panorama 30s linear infinite;
    z-index: 1; /* Установите z-index ниже з-индекса остальных элементов */
}

.room-detail-container-3 {
    background-image: url('../pics/room1.png');
    background-position: 50% 50%; /* Начальная позиция фона по центру */
    background-size: cover;
}

.normal-back {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    filter: blur(0px);
    transition: filter 0.3s ease;
    align-items: center;
    overflow: hidden; /* Скрывает выходящие за пределы элементы */
}


.large-text-rectangle-3 {
    position: absolute;
    bottom: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 600px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; /* Измените цвет на желаемый */
    font-size: 250%; /* Измените размер шрифта на желаемый */
    z-index: 20;
}

.details-overlay-3 .details .audio-player {
    display: flex;
    align-items: center;
    gap: 10px;
}

.details-overlay-3 .details .audio-player audio {
    display: none; /* Скрываем стандартный аудиоплеер */
}

.details-overlay-3 .details .audio-player .audio-icon {
    background: none;
    border: none;
    cursor: pointer;
}

.details-overlay-3 .details .audio-player .audio-icon img {
    width: 30px;
    height: 30px;
}



.full-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Полностью покрывает контейнер без обрезки краев */
}


.clickable-pralka {
    position: absolute;
    top: 60%;
    left: 25%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10; /* Слой выше изображения */
}

.overlay-image-3 {
    width: 80%;
    height: 80%;
    object-fit: cover;
}


/* Кнопка "Назад" */
.back-button-3 {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #89441f; /* Основной цвет, как на главной странице */
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 25; /* Кнопка должна быть поверх всего контента */
}

.back-button-3:hover {
    background-color: #89441f;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Окно с деталями */
.details-overlay-3 {
    position: absolute;
    top: 20%;
    right: 10%; /* Смещаем окно вправо, не доходя до краев */
    width: 40%;
    max-width: 400px;
    height: 60%;
    background: rgba(255, 255, 255, 0.9); /* Белый фон с прозрачностью */
    backdrop-filter: blur(10px); /* Размытие фона за элементом */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
    z-index: 30;
    border-radius: 10px;
}

.close-button-3 {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #89441f;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 40; /* Кнопка должна быть поверх всего контента */
}

.close-button-3:hover {
    background-color: #89441f;
}

 .image-container img {
        object-position: left bottom; /* Привязываем левый нижний угол картинки к левому нижнему углу контейнера */
    }

    @media (max-width: 768px) {

        .blur-filter-3 {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('../pics/room3.png');
            background-position: 5% 50%;
            background-size: cover;
            filter: blur(5px); /* Размытие фона */
            z-index: 1; /* Установите z-index ниже з-индекса остальных элементов */
        }

        .room-detail-container-3 {
            background-image: url('../pics/room3.png');
            background-position: 5% 50%; /* Начальная позиция фона по центру */
            background-size: cover;
        }


        .details-overlay-3 {
            position: absolute;
            top: 60%;
            right: 50%; /* Смещаем окно вправо, не доходя до краев */
            width: fit-content;
            transform: translate(50%, 0%);
            max-width: 400px;
            height: 38%;
            background: rgba(255, 255, 255, 0.5); /* Белый фон с прозрачностью */
            backdrop-filter: blur(10px); /* Размытие фона за элементом */
            padding: 20px;
            box-sizing: border-box;
            overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
            z-index: 30;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
        }

        .details-overlay-3 h2.overlay-header-3 {
            position: sticky;
            top: 0;
            background: #c8beb7;
            padding: 10px;
            z-index: 30;
            border-radius: 10px;
            margin-bottom: 20px; /* Добавляем отступ снизу для заголовка */
        }

        .details-overlay-3 .details {
            display: flex;
            flex-direction: column;
            gap: 20px; /* Расстояние между элементами */
        }

        .details-overlay-3 .details p {
            flex: 1; /* Позволяет тексту занимать доступное пространство */
        }

        .details-overlay-3 .details audio {
            align-self: center; /* Центрирует аудиоплеер по горизонтали */
        }
        .clickable-pralka {
            position: absolute;
            top: 55%;
            left: 42%;
            transform: translate(-50%, -50%);
            color: white;
            padding: 10px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            z-index: 10; /* Слой выше изображения */
        }
        .overlay-image-3 {
            width: 155%;
            height: 155%;
            object-fit: cover;
        }

        .large-text-rectangle-3 {
            position: absolute;
            bottom: -3%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 10px 20px;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.5);
            width: 200px;
            height: 100px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #652c0d; /* Измените цвет на желаемый */
            font-size: 150%; /* Измените размер шрифта на желаемый */
            z-index: 11;
        }
    }

