/* src/components/Room1Detail.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.blur-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pics/room1.png');
    background-position: 50% 50%;
    background-size: cover;
    filter: blur(5px); /* Размытие фона */
    z-index: 1; /* Установите z-index ниже з-индекса остальных элементов */
}

@keyframes panorama {
    0% { background-position: 50% 50%; }
    30% { background-position: 0% 50%; }
    60% { background-position: 100% 50%; }
    100% { background-position: 50% 50%; }
}

.no-blur-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../pics/room1.png');
    background-position: 50% 50%;
    background-size: cover;
    animation: panorama 30s linear infinite;
    z-index: 1; /* Установите z-index ниже з-индекса остальных элементов */
}

.room-detail-container {
    background-image: url('../pics/room1.png');
    background-position: 50% 50%; /* Начальная позиция фона по центру */
    background-size: cover;
}

.clickable-balal {
    position: absolute;
    top: 30%;
    left: 56%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    z-index: 10; /* Слой выше изображения */
}

.large-text-rectangle-1 {
    position: absolute;
    bottom: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 600px;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #143d49; /* Измените цвет на желаемый */
    font-size: 250%; /* Измените размер шрифта на желаемый */
    z-index: 20;
}

.overlay-image-1 {
    width: 105%;
    height: 105%;
    object-fit: cover;
}

/* Кнопка "Назад" */
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #2295b4; /* Основной цвет, как на главной странице */
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease;
    z-index: 20; /* Кнопка должна быть поверх всего контента */
}
.hidden {

    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.back-button:hover {
    background-color: #196c83;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Окно с деталями */
.details-overlay-1 {
    position: absolute;
    top: 20%;
    right: 10%; /* Смещаем окно вправо, не доходя до краев */
    width: 40%;
    max-width: 400px;
    height: 60%;
    background: rgba(255, 255, 255, 0.9); /* Белый фон с прозрачностью */
    backdrop-filter: blur(10px); /* Размытие фона за элементом */
    padding: 20px;
    box-sizing: border-box;
    overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
    z-index: 30;
    border-radius: 10px;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #2294b3;
    border: none;
    color: white;
    border-radius: 25px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    z-index: 40; /* Кнопка должна быть поверх всего контента */
}

.close-button:hover {
    background-color: #2294b3;
}


/* Настройки для мобильной версии */
@media (max-width: 768px) {
    .blur-filter {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('../pics/room1.png');
        background-position: 50% 50%;
        background-size: cover;
        filter: blur(5px); /* Размытие фона */
        z-index: 1; /* Установите z-index ниже з-индекса остальных элементов */
    }

    .room-detail-container {
        background-image: url('../pics/room1.png');
        background-position: 50% 50%; /* Начальная позиция фона по центру */
        background-size: cover;
    }


    .details-overlay-1 {
        position: absolute;
        top: 60%;
        right: 50%; /* Смещаем окно вправо, не доходя до краев */
        width: fit-content;
        transform: translate(50%, 0%);
        max-width: 400px;
        height: 60%;
        background: rgba(255, 255, 255, 0.5); /* Белый фон с прозрачностью */
        backdrop-filter: blur(10px); /* Размытие фона за элементом */
        padding: 20px;
        box-sizing: border-box;
        overflow-y: auto; /* Добавляем прокрутку, если контент не помещается */
        z-index: 30;
        border-radius: 10px;
    }

    .clickable-item {
        font-size: 14px;
        padding: 8px;
    }

    .back-button, .close-button {
        font-size: 14px;
        padding: 8px 16px;
    }


    .clickable-balal {
        position: absolute;
        top: 37%;
        left: 64%;
        transform: translate(-50%, -50%);
        color: white;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        z-index: 10; /* Слой выше изображения */
    }


    .overlay-image-1 {
        width: 150%;
        height: 150%;
        object-fit: cover;
    }

    .large-text-rectangle-1 {
        position: absolute;
        bottom: 4%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px 20px;
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 200px;
        height: 100px;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #143d49; /* Измените цвет на желаемый */
        font-size: 150%; /* Измените размер шрифта на желаемый */
    }


}
